!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title トップページ
    %link{:href => "style.css", :rel => "stylesheet"}/
  %body
    %header.header
      .header-name
    .contents
      .left-content
        %h5 行きたいところ
        .form__search
          %form#new_message.set-form__search{"accept-charset" => "UTF-8", :action => "###", :enctype => "multipart/form-data", :method => "post"}
            %input#message_content.form__search__message{:name => "message[content]", :placeholder => "Where do you go ?", :type => "text"}/
            %input.form__go{"data-disable-with" => "Go", :name => "commit", :type => "button", :value => "GO!"}/
      .right-content
        %h6 チャット
        .form__chat
          %form#new_message.set-form__chat{"accept-charset" => "UTF-8", :action => "###", :enctype => "multipart/form-data", :method => "post"}
            %input#message_content.form__message{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
            %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
