!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title searchat
    %link{:href => "style.css", :rel => "stylesheet"}/
  %body
    %header.header
      .username
        にっくねーむ
      .userpoint
        人気 Pt
      %ul.mystation
        My駅
        %li.mystation__body
          なんちゃら
      .btn
        %a.btn__edit-btn{:href => "/edit"} Edit
        %a.btn__top-btn{:href => "/top"} TOP
    .contents
      .left-content
      .right-content
