!!!
%html
  %head
    = stylesheet_link_tag "stations/show", :media => "all"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title 地図ページ

  %body
    %header.header
      .header-name
    .contents
      .left-content
        %h1 地図
        .map
      .right-content
        %h2 行先
        .result__where
          しるべい
        %h3 最寄駅
        .result__station
          = form_for :current_user, :url => station_messages_path(0) do |f|#()の中は相談@stationsになる予定
            = f.label :stationname
            = f.submit 'GO!', class: 'result__station__name--go'
            
   