= content_for :css do 
  = stylesheet_link_tag "railways/index_partials", :media => "all"
  %body
    .left_content
      .animation
        .highscraper
          .wall-one
            %div
          .wall-two
            %div
          .roof
            %div
              %div
              %div
            %div
              %div
              %div
            %div
        .brickhouse
          .wall-one
            %div
          .wall-two
            %div
          .roof
            %div
              %div
              %div
            %div
              %div
              %div
        .leaves
          %div
        .wood
        .ground-cropped
          .shadow-brickhouse
          .shadow-highscraper
          .car-one.red
          .car-one.blue
          .car-two.black
        .water
        .fontain
          %div
        .water-drops
          %div
          %div
          %div
          %div
        .road
        .ground
          %div
          %div
          %div
          %div

      .animation-1
        .brickhouse
          .wall-one
            %div
          .wall-two
            %div
          .roof
            %div
              %div
              %div
            %div
              %div
              %div
        