html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fcf97a;
  height: 140px;
  width: 100%;
  padding-left: 30px;
  display: flex;
  box-sizing: border-box;
  position: relative;

}
.username {
  line-height: 10vh;
  font-size: 3vw;
}
.userpoint {
  display: flex;
  position: absolute;
  top: 8vh;
  left: 5vw;
  font-size: 1vw;
  &__mark {
    color: deeppink;
    font-size: 2.5vw;
  }
  &__times {
    font-size: 1.5vw;
    position: relative;
    top: 1vw;
  }
  &__body {
    font-size: 2vw;
    position: relative;
    top: 0.5vw;
  }
  &__level {
    margin-left: 20px;
    font-size: 2vw;
    position: relative;
    top: 0.9vh;
  }
  &__level-number {
    margin-left: 5px;
    font-size: 2vw;
    position: relative;
    top: 0.9vh;
  }
  &__level-info {
    position: relative;
    right: 160px;
    top: 30px;
  }
}

.userpoin__mark{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.description__mark {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 13px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: lightsalmon;
  width: 360px;
  z-index: 2;
  .description__mark1{
    text-decoration-line: underline;
    margin-bottom: 3px;
  }
}
.description__mark:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 92%;
  border: 15px solid transparent;
  border-top: 15px solid lightsalmon;
  margin-left: -15px;
  transform: rotateZ(180deg);
  z-index: 2;
}
.userpoint__mark:hover .description__mark{
  display: inline-block;
  top: 30px;
  left: 0px;
  z-index: 2;
}
.userpoin__level{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.description__level {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 13px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: lightsalmon;
  width: 150px;
  z-index: 2;
  .heart_description{
    display: inline-block;
    &--li{
      display: inline-block;
    }
  }
  
}
.description__level:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 70%;
  border: 15px solid transparent;
  border-top: 15px solid lightsalmon;
  margin-left: -15px;
  transform: rotateZ(180deg);
  z-index: 2;
}
.userpoint__level:hover .description__level{
  display: inline-block;
  top: 30px;
  left: 0px;
  z-index: 2;
}
.user-btn {
  &__edit-icon {
    position: relative;
    height: 50px;
    line-height: 15vh;
    left: 0.5vw;
    font-size: 3vw;
    color: blue;
  }
  // &__edit-name {
  //   position: relative;
  //   height: 15px;
  //   top: 11vh;
  //   font-size: 0.5vw;
  //   right: 5.5vw;
  //   text-decoration: none;
  //   color: black;
  // }
}

.mystation {
  position: absolute;
  left: 35%;
  font-size: 20px;
}
.mystation-header {
  margin-left: 10px;
  font-size: 15px;
}
.mystation-body {
  border: solid 3px;
  height: 95px;
  padding: 5px;
  background-color: #fff;
}
.mystation-top {
  display: flex;
}
.mystation-mark {
  height: 50px;
  width: 30px;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  &__header {
    font-size: 10px;
    color: white;
  }
  &__body {
    background-color: white;
    font-size: 10px;
    border: solid 3px green;
    border-radius: 5px;
  }
}
.mystation-mark--end {
  height: 50px;
  width: 30px;
}

.mystation__name {
  list-style: none;
  font-size: 30px;
  color: green;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}
.btn__station-btn {
  text-decoration: none;
  color: green;
}
.mystation-shape {
  height: 20px;
  width: 100%;
  background-color: green;
  bottom: 30px;
  margin-top: 5px;
  &__square {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    margin: auto;
  }
}
.mystation-footer {
  font-size: 15px;
  bottom: 0;
  text-align: center;
}

.btn {
  display: flex;
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 20px;
}
.btn-top__icon {
  position: relative;
  color: blue;
  font-size: 30px;
  bottom: 12px;
  left: 158px;
}
.btn-top__btn {
  position: relative;
  color: black;
  height: 15px;
  left: 122px;
  font-size: 10px;
  text-decoration: none;
}
.btn-logout__icon {
  position: relative;
  color: blue;
  font-size: 30px;
  bottom: 12px;
  left: 195px;
}
.btn-logout__btn {
  position: relative;
  color: black;
  height: 15px;
  left: 145px;
  font-size: 10px;
  text-decoration: none;
}

.btn-admin {
  width: 90px;
  position: relative;
  bottom: 100px;
  margin-left: 10px;
}
.btn-admin__icon {
  color: blue;
  font-size: 30px;
}
.btn-admin__btn {
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.btn-update {
  display: flex;
  width: 90px;
  position: relative;
  bottom: 100px;
  margin-left: 10px;
}
.btn-update__icon {
  color: blue;
  font-size: 30px;
}
.btn-update__btn {
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding-left: 5px;
  position: relative;
  top: 16px;
}

.header-bar {
  height: 24px;
  width: 100%;
  background-color: #00ffff;
}