html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #bbb;
  height: 100px;
  width: 100%;
  padding-left: 50px;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.username {
  line-height: 90px;
  color: blue;
  font-size: 30px;
}
.userpoint {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 20px;
  &__body {
    margin-left: 20px;
    font-weight: bold;
  }
  &__unit {
    margin-left: 5px;
  }
}
.mystation {
  position: absolute;
  left: 40%;
  font-size: 20px;
}
.mystation__body {
  list-style: none;
  font-size: 30px;
  margin-left: 20px;
  color: yellow;
}
.btn__station-btn {
  text-decoration: none;
  color: yellow;
}
.btn {
  position: absolute;
  right: 0;
  top: 70px;
  margin-right: 30px;
  font-size: 20px;
}
.btn__edit-btn {
  margin-right: 50px;
  color: green;
}

.btn__top-btn {
  color: red;
}
.btn__update-btn {
  margin-left: 30px;
  color: orange;
}
