html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Maru Gothic Pro'
}

.contents {
  background-color: #eee;
  height: calc(100vh - 140px - 24px);
  width: 100%;
  display: flex;
}

.left-content {
  background-color: lightyellow;
  height: 100%;
  width: 30%;
  display: flex;
  overflow: scroll;
}
.railway__name {
  font-size: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}
.railway__name__length{
  font-size: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-decoration-line: underline;
  text-decoration-color: #fff59d;
  text-decoration-style: double;
}
.railway__name__none {
  height: 30px;
  line-height: 15px;
  text-align: center;
}
.railway {
  height: 540px;
  // width: 120px;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
}
.railway__list {
  margin: 2em 25px;
  padding: 1em;
  background-color: #fff59d;
  border: dashed 3px #fdd835;
  box-shadow: 0 0 0 10px #fff59d, 0 0 0 25px #fdd835;
  border-radius: 3px;
}
.railway__list__box {
  margin: 5px 0;
  padding: 1em;
  box-shadow: 0 0 3px 3px #b2ff59, 0 0 3px 2px #b2ff59 inset;
  border-radius: 10px;
  background: #f9fbe7;
  //height: 50px;
  //line-height: 50px;
  //text-align: center;
  //border: solid 1px green;
  //padding: 0 5px;
}
.railway__list__box-1 {
  margin: 5px 0;
  padding: 1em;
  box-shadow: 0 0 3px 3px #e57373, 0 0 3px 2px #e57373 inset;
  border-radius: 10px;
  background: #f9fbe7;
}
a {
  text-decoration: none;
}
.railway__list__line {
  height: 15px;
  line-height: 15px;
  text-align: center;
}
.railway__list__line-1 {
  height: 200px;
  line-height: 40px;
  text-align: center;
}
.railway__list__line-2 {
  height: 120px;
  line-height: 40px;
  text-align: center;
}
.railsway__list__box__station3--emphasis {
  font-weight: bold;
  color: red;
}

.right-content {
  height: 100%;
  width: 70%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  background-color: lightyellow;
  border: dashed 3px #fdd835;
  border-radius: 3px;
}
.chat-header {
  height: 6.2vw;
  width: 100%;
  background-color: lightpink;
  display: flex;
  line-height: 5.5vw;
  border: solid 5px #fff;
  box-sizing: border-box;
  overflow: scroll;
}
.chat-header__name {
  width: 100%;
  margin: 0 7vw;
  text-align: center;
}
.chat-header__station-name {
  font-size: 3vw;
  white-space: nowrap;
  overflow:scroll;
}
.chat-header__btn {
  position: absolute;
  padding-left: 2vw;
}

// お気に入りボタンのスタイル
.chat-header__favorite-btn {
  font-size: 3vw;
  vertical-align: middle; 
}
// お気に入り駅ならば黄色にする
.chat-header__favorite-btn--yes {
  color: yellow;
}
// 非お気に入り駅ならば白色にする
.chat-header__favorite-btn--no {
  color: white;
}

.messages {
  padding: 10px 20px 10px 20px;
  height: calc(100vh - 140px - 110px - 70px - 24px);
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  .message1 {
    color: #333;/*テキストを黒にする*/
    background: #fff;
    border: 2px solid #b2ff59;
    border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す*/
    margin-left: 100px;/*右側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
    margin-top: 10px;
    &__info {
      margin-bottom: 10px;
      padding-top: 10px;
      display: flex;
      box-sizing: border-box;
    }
    &__username {
      font-size: 16px;
      font-weight: bold;
      color: #434A56;
      margin-left: 10px;
    }
    &__userpoint-level {
      font-size: 13px;
      margin-left: 5px;
      &__number {
        font-size: 13px;
        font-weight: bold;
      }
    }
    &__date {
      margin-left: 20px;
      font-size: 12px;
      color: gray;
    }
    &__body {
      margin: 10px 0;
      font-size: 14px;
      margin-left: 10px;
    }
    &__text__arrows {
      position: relative;
      right: 25px;
      padding-left: 10px;
      padding-right: 20px;
    }
  }
  #message1__text__icon {
    position: relative;
    left: 20px;
    color: pink;
  }
  .message {
    color: #333;/*テキストを黒にする*/
    background: #fff;
    border: 2px solid #13178E;
    border-radius: 30px 30px 30px 0px;/*左下だけ尖らせて吹き出し感を出す*/
    margin-right: 100px;/*左側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
    margin-top: 10px;
    &__info {
      margin-bottom: 10px;
      padding-top: 10px;
      display: flex;
      box-sizing: border-box;
    }
    &__username {
      font-size: 16px;
      font-weight: bold;
      color: #434A56;
      margin-left: 10px;
    }
    &__userpoint-level {
      font-size: 13px;
      margin-left: 5px;
      &__number {
        font-size: 13px;
        font-weight: bold;
      }
    }
    &__date {
      margin-left: 20px;
      font-size: 12px;
      color: gray;
    }
    &__body {
      margin: 10px 0;
      font-size: 14px;
      margin-left: 10px;
    }
    &__text__arrows {
      position: relative;
      right: 25px;
      padding-left: 10px;
      padding-right: 20px;
    }
  }
  #message__text__icon {
    position: relative;
    left: 20px;
    color: pink;
  }
}
.btn__delete-btn {
  background-color: lightyellow;
  color: orange;
  margin-left: 30px;
}
.form {
  height: 50px;
  background-color:lightyellow;
  padding: 10px 20px;
  width: calc(70% - 60px);
  position: fixed;
  bottom: 0;
  &__box {
    display: flex;
    width: calc(100% -80px -40px);
  }
  &__message {
    height: 50px;
    border: none;
    padding: 0 20px 0 10px;
    width: 85%;
  }
  &__button {
    height: 50px;
    width: 100px;
    background-color: lightblue;
    margin-left: 15px;
    color: #555;
    font-weight: bold;
    font-size: 20px;
  }
}