html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
}

// .header {
//   background-color: #BCB3DA;
//   height: 100px;
//   position: fixed;
//   width: 100%;
// }

.header-name {
  color:#ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 2px;
  float: left;
  padding:  30px 100px;
}

.contents {
  height: calc(100% - 140px - 24px);
  width: 100%;
  background-color: lightgoldenrodyellow;
}
  h5 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    border-left: solid 10px #9146CA;/*左線（実線 太さ 色）*/
    font-size: 30px;
    margin-top: 0px;
  }

  .form__search {
    box-sizing: border-box;
    height: 150px;
    margin-top: 150px;
    
  
  }
  .form__search__message{
    float: left;
    height: 7vw;
    width: 45vw;
    font-size: 2vw;
    box-shadow: 0 0 3px 3px #70c8ce, 0 0 3px 2px #70c8ce inset;
    border-radius: 10px;
    background: #f9fbe7;
    position: absolute;
    padding-left: 5px;
  }
  
  .form__search__message--go{
    background-color: lightblue;
    border: none;
    color: white;
    float: right;
    font-size: 5vw;
    height: 7vw;
    margin-left: 51vw;
    padding: 0 2vw;
    border-radius: 20px;        /* 角丸指定 */
    position: relative;
    line-height: 7vw;
  }

  .right-content {
    height: 100%;
    width: 70%;
    float: right;
    position: relative;
  }

  h6 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    border-left: solid 10px #9146CA;/*左線（実線 太さ 色）*/
    font-size: 30px;
    margin-top: 0px;
  }

  .form__chat {
    box-sizing: border-box;
    height: 4.5vw;
    position: relative;
    margin-top: 10vw;
  }

  .station-textfield{
      height: 4vw;
      width: 18vw;   
      float: left;
      &__textfield{
        height: 100%;
        width: 100%;   
        font-size: 1.5vw;
        box-shadow: 0 0 3px 3px #70c8ce, 0 0 3px 2px #70c8ce inset;
        border-radius: 15px;
        background: #f9fbe7;
        margin-left: 27vw;
        padding-left: 5px;
      }
  }
  .station-list{
    &__station{
      height: 2vw;
      width: 100%;   
      font-size: 1.5vw;
      border: solid salmon;
      margin-left: 27vw;
      font-family: 'Courier New', Courier, monospace;
      overflow: auto;
    }
  }

.station-submit{
    &__submitbtn{
      background-color: lightblue;
      border: none;
      color: white;
      float: right;
      font-size: 3vw;
      height: 4.5vw;
      margin-RIGHT: 8vw;
      padding: 0 2vw;
      border-radius: 10px;        /* 角丸指定 */
      line-height: 4.5vw;
    }
  }

  .notifications {
    color: black;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 140px;
    .notice {
      background-color: cyan;
    }
  }
.form__search{
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 8vw;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 1.3vw;
    line-height: 3.5vw;
    color: #fff;
    border-radius: 20px;
    background: lightpink;
    width: 7vw;
    height: 3.5vw;
    text-align: center;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid lightpink;
    margin-left: -15px;
}
.form__search:hover .description1{
    display: inline-block;
    top: -6.5vw;
    left: 3vw;
}
.description2 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 1.3vw;
    line-height: 3.5vw;
    color: #fff;
    border-radius: 20px;
    background: lightpink;
    width: 7vw;
    height: 3.5vw;
    text-align: center;
}
.description2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
}
.form__search:hover .description2{
  display: inline-block;
  top: -6.5vw;
  left: 13vw;
}

.description3 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 1.3vw;
    line-height: 3.5vw;
    color: #fff;
    border-radius: 20px;
    background: lightpink;
    width: 10vw;
    height: 3.5vw;
    text-align: center;
}
.description3:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
}
.form__search:hover .description3{
  display: inline-block;
  top: -6.5vw;
  left: 23vw;
}
.station-textfield{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

  .form__arrow{
    font-size: 3.5vw;
    color: lightskyblue;
    margin-left: 14vw;
    margin-top: 10vw;
    position: absolute;
  }
  .form__description{
    font-size: .9vw;
    margin-left: 9vw;
    margin-top: 5px;
  }