html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// .header {
//   background-color: #BCB3DA;
//   height: 100px;
//   position: fixed;
//   width: 100%;
// }

.header-name {
  color:#ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 2px;
  float: left;
  padding:  30px 100px;
}

.contents {
  height: calc(100% - 140px - 24px);
  width: 100%;
  background-color: lightyellow;
}
  h5 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    border-left: solid 10px #9146CA;/*左線（実線 太さ 色）*/
    font-size: 30px;
    margin-top: 0px;
  }

  .form__search {
    box-sizing: border-box;
    height: 150px;
    margin-top: 100px;
    padding: 20px 50px 20px 40px;
    position: relative;
  }
  .form__search__message{
    float: left;
    height: 100px;
    width: 450px;
    font-size: 30px;
    box-shadow: 0 0 3px 3px #e57373, 0 0 3px 2px #e57373 inset;
    border-radius: 10px;
    background: #f9fbe7;
    position: relative;
  }
  
  .form__search__message--go{
    background-color: lightblue;
    border: none;
    color: white;
    float: right;
    font-size: 40px;
    height: 100px;
    margin-left: 38px;
    padding: 0 30px;
    border-radius: 20px;        /* 角丸指定 */
    position: relative;
  }

  .right-content {
    height: 100%;
    width: 50%;
    float: right;
    position: relative;
  }

  h6 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    border-left: solid 10px #9146CA;/*左線（実線 太さ 色）*/
    font-size: 30px;
    margin-top: 0px;
  }

  .form__chat {
    box-sizing: border-box;
    height: 150px;
    margin-top: 100px;
    padding: 10px 50px 20px 40px;
  }

  .station-textfield{
      height: 100px;
      width: 450px;   
      float: left;
      &__textfield{
        height: 100%;
        width: 100%;   
        font-size: 30px;
        box-shadow: 0 0 3px 3px #e57373, 0 0 3px 2px #e57373 inset;
        border-radius: 15px;
        background: #f9fbe7;
        
      }
  }
  .station-list{
    &__station{
      height: 40px;
      width: 100%;   
      font-size: 26px;
      background-color: lightgray;
      border: medium solid black;    
    }
  }

.station-submit{
    &__submitbtn{
      background-color: lightblue;
      border: none;
      color: white;
      float: right;
      font-size: 40px;
      height: 100px;
      margin-left: 5px;
      padding: 0 30px;
      border-radius: 20px;        /* 角丸指定 */
    }
  }

  .notifications {
    color: black;
    text-align: center;  
    .notice {
      background-color: cyan;
    }
  }
.form__search{
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 18px;
    line-height: 2.6em;
    color: #fff;
    border-radius: 5px;
    background: lightpink;
    width: 100px;
    text-align: center;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid lightpink;
    margin-left: -15px;
}
.form__search:hover .description1{
    display: inline-block;
    top: -70px;
    left: 50px;
}
.description2 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 18px;
  line-height: 2.6em;
  color: #fff;
  border-radius: 5px;
  background: lightpink;
  width: 100px;
  text-align: center;
}
.description2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
}
.form__search:hover .description2{
  display: inline-block;
  top: -70px;
  left: 180px;
}

.description3 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 18px;
  line-height: 2.6em;
  color: #fff;
  border-radius: 5px;
  background: lightpink;
  width: 200px;
  text-align: center;
}
.description3:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
}
.form__search:hover .description3{
  display: inline-block;
  top: -70px;
  left: 310px;
}
.station-textfield{
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.description4 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 18px;
  line-height: 2.0em;
  color: #fff;
  border-radius: 5px;
  background: lightpink;
  width: 100px;
  text-align: center;
}
.description4:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
}
.station-textfield:hover .description4{
  display: inline-block;
  top: -70px;
  left: -20px;
}
.description5 {
display: none;
position: absolute;
padding: 10px;
font-size: 18px;
line-height: 2.0em;
color: #fff;
border-radius: 5px;
background: lightpink;
width: 100px;
text-align: center;
}
.description5:before {
content: "";
position: absolute;
top: 100%;
left: 50%;
border: 15px solid transparent;
border-top: 15px solid lightpink;
margin-left: -15px;
}
.station-textfield:hover .description5{
display: inline-block;
top: -70px;
left: 110px;
}

.description6 {
display: none;
position: absolute;
padding: 10px;
font-size: 18px;
line-height: 2.0em;
color: #fff;
border-radius: 5px;
background: lightpink;
width: 100px;
text-align: center;
}
.description6:before {
content: "";
position: absolute;
top: 100%;
left: 50%;
border: 15px solid transparent;
border-top: 15px solid lightpink;
margin-left: -15px;
}
.station-textfield:hover .description6{
display: inline-block;
top: -70px;
left: 240px;
}
.description7 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 18px;
  line-height: 2.0em;
  color: #fff;
  border-radius: 5px;
  background: lightpink;
  width: 100px;
  text-align: center;
  }
  .description7:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid lightpink;
  margin-left: -15px;
  }
  .station-textfield:hover .description7{
  display: inline-block;
  top: -70px;
  left: 370px;
  }