@media screen and (max-width:800px) and (min-height:1000px){
  html {
    margin-top: 5vw;
  }
  .image-login {
    left: 40px;
    bottom: 60px;
  }
}

.account-page {
  width: 100%;
  height: 100%;
  
  .account-page__inner {
    margin-left: 5vw;
    margin-right: 5vw;
    width:75vw;
    height: 85vh;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: lightgoldenrodyellow;
    border: dashed 3px #fdd835;
    box-shadow: 0 0 0 10px lightgoldenrodyellow, 0 0 0 25px #fdd835;
    border-radius: 3px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
      font-family:'Meiryo';
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;
      color: #38aef0;
      font-family:'impact';
    

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid lightskyblue;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
      color: lightskyblue;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: lightskyblue;
      font-size: 14px;
      padding: 1em;
      border-radius: 5px;
    }
    .btn1 {
      margin: 20px;
      color: #fff;
      background-color:lightskyblue;
      font-size: 14px;
      border-radius: 5px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 100vh;
  }

  .btn2 {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: lightskyblue;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}
.login-description{
  margin-top:20vh; 
}
.image-login2{
  margin-top: -2vh;
  margin-left: 1vw;
  position: absolute;
}
.balloon2 {
  position: relative;
  margin-top:40vh;
  margin-left: 20vw;
  padding: 15px;
  background: white;
  border-radius: 30px;
  width: 50vw;
  border:solid 2px;
  border-color: #fdd835;
  & p {
    text-align: center;
    position: relative;
    right: 8vw;
  }
}

.balloon2:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}

.balloon2:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}

.balloon3 {
  position: absolute;
  margin-top:5vh;
  margin-left: 1vw;
  padding: 15px;
  background: white;
  border-radius: 30px;
  width: 50vw;
  border:solid 2px;
  border-color: #fdd835;
  & p {
    text-align: center;
    position: relative;
    left: 2vw;
  }
}

.balloon3:before {  
  content: "";
  position: absolute;
  right: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background:white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}

.balloon3:after {
  content: "";
  position: absolute;
  right: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}
.balloon3 p {
  margin: 0; 
  padding: 0;
}
.image-login3{
  margin-top: 1%;
  position: relative;
  margin-left: 60vw;
}
.image-login{
  margin-left: 1vw;
  position: absolute; 
  margin-bottom: 3vh;
  margin-top: -1vh;
}
.balloon4 {
  position: relative;
  margin-top:3vh;
  margin-left: 20vw;
  padding: 15px;
  background: white;
  border-radius: 30px;
  width: 50vw;
  margin-bottom: 3vh;
  border:solid 2px;
  border-color: #fdd835;
  & p {
    text-align: center;
    position: relative;
    right: 8vw;
  }
}

.balloon4:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background:white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}

.balloon4:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  border:solid 2px;
  border-color: #fdd835;
}
